<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <style type="text/css">
     * {
          {{!-- border: 1px solid black; --}}
     }
     body {
          background-image: url("img/ATHF_Carls_Jr.jpg");"
          background-color: white;
          margin: 0 auto;
          width: 80%;
     }
     img {
          
     }
     header {margin-top: 5%;
          text-align: center;
     }
     section {
          margin-top: 5%;
     }

     .flex-container {
          display: flex;
          justify-content: space-around;
     }
     .form-control {
          display: block;
     }
     .add-burger {
          text-align: center;
          display: inline;
     }
     .f-input {
          display: inline;

     }
     </style>
     {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}
     {{!-- <link rel="stylesheet" href="css/style.css">    --}}
     <title>EAT THE BURGER</title>
</head>
<body>
     {{{body}}}
</body>
</html>